---
import { humanize, plainify } from "@/lib/utils/textConverter";
import ImageMod from "./ImageMod.astro";
import config from "@/config/config.json";

const { data } = Astro.props;
const { title, image, categories } = data.data;
const { blog_folder } = config.settings;

// Check if this is blog data or feature data
const isBlog = data.collection === "blog";
const linkBase = isBlog ? blog_folder : "features";
---

<div>
  <ImageMod
    src={image}
    alt="feature"
    class="rounded-[14px] mx-auto mb-8 w-full h-[273px] object-cover object-top"
    width={375}
    height={273}
  />

  <div>
    <p class="px-2 py-1 text-sm bg-dark inline-block rounded-full text-body">
      {
        categories.slice(0, 1).map((category: string) => (
          <span>
            {humanize(category)}
          </span>
        ))
      }
    </p>
    <h4 class="py-4">
      <a class="u-underline" href={`/${linkBase}/${data.id}`}>
        <span class="s-underline line-clamp-1">{title}</span>
      </a>
    </h4>
    <p class="mt-2.5 line-clamp-2" set:html={plainify(data.body)} />
  </div>
</div>